.container{
    display: flex;
}
.side-nav{
       width: 300px;
       min-width: 230px;
       min-height: calc(100vh - 70px);
       background-color: #113c60;
       color: white; 
       box-shadow: 5px 5px 5px #939393;

}
.opcoes{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 64px;
    padding-top: 20%;
}
button{
    background: none;
    border: none;
    color: white;
    cursor:pointer;
    font-size: 20px;
    
}
button:hover {
    color: orange;
}