

section{
    padding:0%;
    margin: 0%;
    display: flex;
    justify-content: left;
    flex-direction: row;
    
    
}
.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #F8F9FA;
    box-shadow: 0px 8px 16px 0px #939393;
    width: 684px;
    max-width: 90%;
    margin: 80px auto;
    padding: 56px 134px;
    box-sizing: border-box;
    gap: 32px;
    
}


section input{
    width: 320px;
    font-size: 22px;
    border: 1px solid #113c60;
    box-shadow: 1px 1px 1px ;
    font-family: 'MontSerrat';
}
section h2{
    font-family: 'MontSerrat';
}

button{
    background-color: green;
    color:white ;
    width: 196px;
    height: 41px;
    padding: 6px, 12px;
    border-radius: 4px;
    border: 1px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
}

.container-estoque{
        display: flex;
        justify-content: center;
        flex-direction: row;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 8px 16px 0px  #939393;
        border: 1px;
        width: 684px;
        max-width: 90%;
        margin: 80px auto;
        padding: 56px 134px;
        box-sizing: border-box;
        gap: 24px;
        height: 375px;
        overflow: auto;
        max-height: 500px;
        
        
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    white-space: nowrap;
  }
  li{
    font-size: 18px;
  }
  
.container-estoque-elementos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dashboard{
    height: 350px;
    background-color: #fff;
    border-radius: 5px;
    margin: 10px;
    box-shadow: 5px 5px 5px 5px #939393;
}

.container-estoque-pai{
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.conjunto{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 108px;
}
.quantia{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
    margin-left: 10%;
}
.quantia-total{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20%;
    height: 175px;
    width:325px;
    background-color: white;
    box-shadow: 5px 5px 5px 5px #939393;
    gap: 56px;
}
.quantia-total p{
    font-size: 26px;
}
.quantia-total h2{
    font-size: 22px;
    font-family: 'MontSerrat';
}